
@{
    ViewBag.Title = "Index";
}

<h2>Admin Options</h2>



<table cellspacing="20">

    <tr>

        <td>@Html.ActionLink("Add Role", "AddRole")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Get Roles", "GetRoles")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Get Roles for User", "GetRolesForUser")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Get Users", "GetUsers")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Add User To Role", "AddUserToRole")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Remove User From Role", "RemoveUserFromRole")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Get Routes", "GetRoutes")</td>

    </tr>
</table>